.detail{
    padding: 40px;

    .box {
        display: flex;
        align-items: center;
    }

    .img_box {
        margin-top: 30px;
        width: 60px;
        height: 60px;
    }

    .detail_link {
        padding-top: 30px;
        display: block;
    }
}